<!-------------------------------------------------------------------------
                 FORM VIEW
--------------------------------------------------------------------------->

<section class="view " id="form_view">

    <!-- header -->
    <header class="view-header">
        <a class="changeView backBtn" data-view="nav"> <i class="fa fa-arrow-left" aria-hidden="true"></i> </a>
    </header>

    <!-- panels slider -->
    <form class="view-panels form">
        <div class="panel active">

            <fieldset class="form-section">
                <p class="form-explications">Avant tout, veillez renseigner quelques informations concernant votre voiture et votre consommation habituelle</p>

                <div class="form-item formItem">
                    <select class="formItem-input" name="carlist" id="gaz">
                        <option disabled selected value > -- select an option -- </option>
                        <option value="SP95">Sans Plomb 95</option>
                        <option value="SP98">Sans Plomb 98</option>
                        <option value="gazole">Gazole</option>
                        <option value="autre">Autre / je ne sais pas</option>
                    </select>
                    <span class="formItem-highlight"></span>
                    <span class="formItem-bar"></span>
                    <label class="formItem-label">Type de carburant</label>
                </div>
                <div class="form-item formItem">
                    <input type="number" required class="formItem-input" id="gazPrice">
                    <span class="formItem-highlight"></span>
                    <span class="formItem-bar"></span>
                    <label class="formItem-label">prix de votre carburant</label><span class="formItem-unit">en €/L</span>

                    <div class="formItem-checkbox">
                        <input class="checkbox" type="checkbox" data-reference="gazPrice" value="unknow">
                        <label>utiliser le prix moyen de <span class="gazRef">votre carburant</span> de  2017</label>
                    </div>

                </div>
                <div class="form-item formItem">
                    <input type="number" required class="formItem-input" id="gazConso">
                    <span class="formItem-highlight"></span>
                    <span class="formItem-bar"></span>
                    <label class="formItem-label">consommation</label><span class="formItem-unit">en L au 100Km</span>

                    <div class="formItem-checkbox">
                        <input class="checkbox" type="checkbox" data-reference="gazConso" value="unknow">
                        <label>utiliser la consommation moyenne d’une  voiture roulant avec <span class="gazRef">votre carburant</span> en  2015</label>
                    </div>
                </div>

                <div class="form-actions">
                    <a data-panelTarget="1" class="btn colored right"> Suite <div class="chevron"></div></a>
                </div>
            </fieldset>


        </div>
        <div class="panel">
            <fieldset class="form-section">
                <p class="form-explications">Encore quelques précisions sur vous afin de calculer les calories que vous brûlerez</p>

                <div class="form-item formItem">
                    <select class="formItem-input" name="carlist" id="sexe">
                        <option disabled selected value > -- select an option -- </option>
                        <option value="SP95">un homme</option>
                        <option value="SP98">une femme</option>
                        <option value="autre">Autre / je ne sais pas</option>
                    </select>
                    <span class="formItem-highlight"></span>
                    <span class="formItem-bar"></span>
                    <label class="formItem-label">Vous êtes...</label>
                </div>

                <div class="form-item formItem">
                    <input type="number" required class="formItem-input" id="age">
                    <span class="formItem-highlight"></span>
                    <span class="formItem-bar"></span>
                    <label class="formItem-label">votre âge</label><span class="formItem-unit">ans</span>
                </div>

                <div class="form-item formItem">
                    <input type="number" required class="formItem-input" id="weight">
                    <span class="formItem-highlight"></span>
                    <span class="formItem-bar"></span>
                    <label class="formItem-label">votre poid</label><span class="formItem-unit">kg</span>
                </div>


                <div class="form-actions">
                    <a data-panelTarget="0" class="btn transparent left"> Précédent <div class="chevron"></div></a>
                    <a  class=" btn colored right" > <span id="submitForm">Commencer</span> <div class="chevron"></div></a>
                </div>
            </fieldset>
        </div>
    </form>
</section>