<!-------------------------------------------------------------------------
           APP VIEW
  --------------------------------------------------------------------------->

<section class="view " id="app_view">

    <!-- header -->
    <header class="view-header">
        <a class="changeView backBtn" data-view="nav"> <i class="fa fa-arrow-left" aria-hidden="true"></i> </a>
        <span id="current-activity" class="strong"></span>
    </header>

    <!-- panels slider -->
    <main class="view-panels">
        <div class="panel split active">
            <section class="splitSection top">
                <article class="splitSection-main">
                    <p class="strong"><span class="distance">0</span>km parcouru...</p>
                    <p>Vous avez économisé</p>
                    <div class="mainData"><span id="economies">0</span><span class="mainData-unit">€</span></div>
                </article>
                <article class="splitSection-details">
                    <div class="graph" id="graph-saving" style="height: 100%; width: 100%;"></div>
                </article>
                <a class="splitSection-btn">
                    <p>Détails</p>
                    <i class="chevron"></i>
                </a>
            </section>
            <section class="splitSection bottom" id="products">
                <p class="indication--empty"> Ici s'affichera les produits que vous aurez économisés en évitant de prendre votre voiture. Continuez vos efforts pour voir le résultat ! </p>
                <p class="indication--notempty">Soit : </p>
                <ul id="productList" class="resultsList"></ul>
            </section>
        </div>
        <div class="panel split">
            <section class="splitSection top">
                <article class="splitSection-main">
                    <p class="strong"><span class="distance">0</span>km parcouru...</p>
                    <p>Vous avez brulé</p>
                    <div class="mainData"><span id="calories">0</span><span class="mainData-unit">cal</span></div>
                </article>
                <article class="splitSection-details">
                    <div class="graph" id="graph-calorie" style="height: 100%; width: 100%;"></div>
                </article>
                <a href="" class= "splitSection-btn" id="">
                    <p>Détails</p>
                    <i class="chevron"></i>
                </a>
            </section>
            <section class="splitSection bottom">
                <p class="indication--empty"> Ici s'affichera l'équivalent en sport des calories que vous aurez brûlé en évitant de prendre votre voiture. Continuez vos efforts pour voir le résultat ! </p>
                <p class="indication--notempty">Soit : </p>
                <ul id="activityList" class="resultsList"></ul>
            </section>

        </div>
    </main>
    <ul class="panelNavigation blue"></ul>
</section>