
<!-------------------------------------------------------------------------
         INTRO VIEW
--------------------------------------------------------------------------->

<section class="view noHeader colored" id="intro_view">

    <!-- panels slider -->
    <main class="view-panels">
        <div class="panel active centerContent" id="intro">
            <p class="title">SPARE YOUR <strong class="bold">MONEY</strong>...</p>
            <p class="title">STAY <strong class="bold">FIT</strong>...</p>
            <p class="title">AND SAVE THE <strong class="bold">PLANET</strong> !</p>
        </div>

        <div class="panel centerContent ">
            <p>
                L'application qui additionne toutes les économies que vous réalisez en évitant de prendre votre voiture pour vos trajets quotidiens.
            </p>
            <p>
                Préferez la marche, le vélo, le poney... vous réaliserez tout ce que vous pourriez acheter avec ces économies !
            </p>
        </div>

        <div class="panel centerContent">
            <p>
                L'application compte aussi toutes les calories que vous brûlez en préférant les transports bon pour votre santé, et bon pour la planète.
            </p>
            <p>
                Vous verrez vite que vos petits trajets au quotidien équivalent en fait à des moments d'efforts sportifs intenses !
            </p>
        </div>

        <div class="panel centerContent">
            <a class="btn white changeView " data-view="form" id="intro-start"> Commencer </a>
        </div>
    </main>
    <ul class="panelNavigation"></ul>
</section>