<!-------------------------------------------------------------------------
              NAV VIEW
--------------------------------------------------------------------------->

<section class="view noHeader colored" id="nav_view">

    <!-- panels slider -->
    <main class="view-panels">
        <div class="panel active centerContent">
            <nav id="mainNavigation">

                <div class="bigRoundBtn pulse" data-view="app" id="startTrack">
                    <span>START TRACKING</span>
                </div>

                <p>ou</p>

                <ul class="navList">
                    <li class="navList-item "  data-view="app" id="useFake">Utiliser de fausses données de traçage</li>
                    <li class="navList-item "  data-view="app" id="seeResults">Voir mes resultats</li>
                    <li class="navList-item changeView"  data-view="form" id="editPreferences">Modifier mes préférences</li>
                </ul>
            </nav>
        </div>
    </main>
</section>
