@import '_reset';
@import '_variables';


/***************************
****************************
  BASICS
****************************
***************************/
body{
    overflow-y: hidden;
    color:$text_color;
    background: white;
    padding:0;
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
    font-weight: 300;
}

a{
  display: inline-block;
  text-decoration: none;
  color:$text_color;
}
.strong{
  font-weight: 400;
}


/***************************
****************************
  MAIN LAYOUT
****************************
***************************/

.viewsWrapper{
  position: absolute;
  top:0; bottom:0; left:0; right:0;
  height:100vh;
}

.view{
  position: absolute;
  top:0; bottom:0; left:0; right:0;
  width:100%;
  overflow: hidden;
  background: white;

  //elements
  &-header{
    position: absolute;
    top:0; left: 0; right:0;
    height: $headerHeight;
    border-bottom: solid white 1px;
    padding:10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(to bottom, #673ab7 0%,#2e86c9 29%,#34d0e5 75%, #36edde 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    background-attachment: fixed;
    background-size: 100vw 100vh;
    color:white;
    a{
      color:white;
    }
  }
  &-panels{
    position: absolute;
    top:$headerHeight; bottom:0;
    min-width: 100%;
    overflow: hidden;
  }


  //modifiers
  &.noHeader{
    .view-panels{
      top:0;
    }
  }

  &.colored{
    background-image: linear-gradient(to bottom, #673ab7 0%, #2e86c9 29%,#34d0e5 75%, #36edde 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    background-attachment: fixed;
    background-size: 100vw 100vh;
    color:white;
  }

}

.panel{
  position: relative;
  height:100%;
  width: 100vw;
  float: left;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  &.centerContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding:30px;
  }

}

.splitSection {

  &-btn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 300;
    font-size: 13px;
    letter-spacing: 1px;
    p{
      transition: opacity 0.3s;
    }
  }
  &-main{
    position: absolute;
    top:0;  left:0;  right:0;
    height:27vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:20px;

    p{
      margin-bottom: 20px;
    }

    .strong{
      font-weight: 400;
    }
  }
  &-details{
    position: absolute;
    top: 27vh;
    left: 0;
    right: 0;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    opacity: 0;
  }


  &.top {
    position: fixed;
    width: 100vw;
    height: $middleBreakPoint;
    z-index: 1;
    -webkit-clip-path:ellipse(95% 100% at 50% 00%);
    clip-path: ellipse(95% 100% at 50% 00%);

    background-image: url(../images/gradient.png);
    background-attachment: initial;
    background-size: 100%, 100%;
    background-position-y: -$headerHeight;
    color:white;
    font-weight: 200;

  }
  &.bottom {
    position: absolute;
    top: 0;
    transform: translate3d(0, 41vh, 0);
    min-height: 30vh;
    width: 100%;
    padding: 20px;
    background: white;
    color: $text_color;
    padding-bottom: 40px;
  }

}




/***************************
****************************
  ELEMENTS
****************************
***************************/
.mainData{
  font-size: 25vw;
  font-weight: 300;
  position: relative;

  &-unit{
    font-size: 4rem;
    font-weight: 200;
  }

}

.chevron{
  position: relative;
  width: 13px;
  height: 13px;
  display: block;
  transform: rotate(-45deg);

  &:before, &:after{
    content: '';
    display: inline-block;
    position: absolute;
    background: white;
    transition: all 0.3s;
  }
  &:before{
    top:0;
    left:0;
    height:100%;
    width: 2.3px;
  }
  &:after{
    bottom:0;
    left:0;
    height:2px;
    width:100%;
  }

  &.close{
    &:before{
      transform: translate(2.5px,2.5px);
    }
    &:after{
      transform: translate(-2.5px,-2.5px);
    }
  }

}

.title{
  text-align: center;
  font-size: 2rem;
  font-weight: 200;
  .bold{
    font-weight: 300;
  }
}



.bigRoundBtn {
  position: relative;
  overflow: visible;
  width: 70vw;
  height: 70vw;
  border:solid white 1px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  margin: 0 auto;

  &.pulse{
    overflow: visible;
    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(255,255,255, 0.08);
      border-radius: 50%;
      opacity: 0;
    }

    &:before {
      transform: scale(1);
      animation: pulse 3s infinite linear;

    }

    &:after {
      animation: pulse 3s 2s infinite linear;
    }
  }


}



.navList{
  display: flex;
  flex-direction: column;
  align-items: center;

  &-item{
    padding: 15px 0;
    position: relative;

    &:before, &:after{
      content: "";
      display: inline-block;
      position: relative;
      height: 1px;
      width: 10px;
      background: white;
      top: 50%;
      margin: 0.2rem 5px;
    }

  }

}


.panelNavigation{
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 33px;
  display: flex;
  justify-content: center;
  align-items: center;


  &-item{
    display: block;
    width: 10px;
    height: 10px;
    border: solid 2px #ffffff;
    border-radius: 50%;
    margin: 0 10px;

    &.active{
      background: white;
    }
  }

  &.blue{
    background: white;
    .panelNavigation-item{
      border: solid 2px #7354df;

      &.active{
        background: #7354df;
      }
    }
  }
}

.form{

  &-section{
    padding:40px;
    overflow: scroll;
  }
  &-item{
    position: relative;
    margin-bottom: 50px;
  }
  &-actions{
    display: flex;
    justify-content: space-around;
    width: 80vw;
    flex-wrap: wrap;
    &>*{
      margin-bottom: 10px !important;
    }
  }

  &-explications{
    margin-bottom: 50px;
  }

}
.formItem{
  /* elements */

  &-input{
    padding:10px 10px 10px 5px;
    display:block;
    width:300px;
    border:none;
    color: #313131;
    border-bottom:1px solid #757575;
    transition:0.2s ease all;
    -moz-transition:0.2s ease all;
    -webkit-transition:0.2s ease all;
    &:focus{ outline:none; border-bottom: none }

    option[disabled]{
      color:#999;

    }
  }

  &-label {
    color:#999;
    font-size:15px;
    font-weight:300;
    position:absolute;
    pointer-events:none;
    left:5px;
    top:10px;
    text-transform: uppercase;
    text-align: left;
    transition:0.2s ease all;
    -moz-transition:0.2s ease all;
    -webkit-transition:0.2s ease all;
  }

  &-unit{
    position: relative;
    text-align: right;
    display: block;
    padding-right: 15px;
    margin-top: 4px;
    font-size: 10px;
    font-weight: 600;
  }

  &-bar{
    position:relative; display:block; width:300px;

    &:before, &:after 	{
      content:'';
      height:2px;
      width:0;
      bottom:1px;
      position:absolute;
      background:#5264AE;
      transition:0.2s ease all;
      -moz-transition:0.2s ease all;
      -webkit-transition:0.2s ease all;
    }
    &:before {
      left:50%;
    }

    &:after {
      right:50%;
    }
  }

  &-highlight {
    position:absolute;
    height:60%;
    width:100px;
    top:25%;
    left:0;
    pointer-events:none;
    opacity:0.5;
  }

  &-checkbox{
    font-size: 12px;
    text-align: left;
    margin-top: 10px;
    display: flex;
    align-items: center;

    label{
      max-width: 90%;
    }
  }

  /* active state */
  &-input:focus ~ &-label, &-input:valid ~ &-label, &-input.valid ~ &-label{
    top:-20px;
    font-size:12px;
    color:#5264AE;
  }
  &-input:focus ~ &-bar:before, &-input:focus ~ &-bar:after {
    width:50%;
  }
  &-input:focus ~ &-highlight {
    -webkit-animation:inputHighlighter 0.3s ease;
    -moz-animation:inputHighlighter 0.3s ease;
    animation:inputHighlighter 0.3s ease;
  }


}


.graph{
  width: 100%;
  height: 100%;
  margin-top: 30px;

  .canvasjs{
    &-chart-credit{
      display: none;
    }
  }
}


.resultsList{

  &-item{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #666666;
    padding: 30px;
    font-size: 35px;
    background-size: contain;
    background-repeat: no-repeat;
    font-weight: 300;

    &:before{
      content: "";
      position: absolute;
      top:0;  left:0; bottom:0; right :0;
      background: rgba(255,255,255,0.4)
    }
    p{
      z-index: 2;
    }
    span{
      font-weight: 800;
    }



  }
}

.btn{
  position: relative;
  padding: 10px 50px;
  margin: 0 10px;
  display: inline-block;
  border-radius: 20px;
  &:focus{ outline:none; border-bottom: none }

  .chevron{
    position: absolute;
    top: 30%;
  }


  &.transparent{
    border: solid #7354df 1px;
    color: #7354df;
    .chevron:before, .chevron:after{
      background: #7354df;
    }
  }
  &.white{
    border: solid #ffffff 1px;
    color: #ffffff;
    .chevron:before, .chevron:after{
      background: #ffffff;
    }
  }
  &.colored{
    border: none;
    color: white;
  }
  &.colored.right{
    background-image: linear-gradient(to right, #673ab7 0%, #64b4f1 100%, #34d0e5 100%);
  }
  &.colored.left{
    background-image: linear-gradient(to left, #673ab7 0%, #64b4f1 100%, #34d0e5 100%);
  }
  &.right{
    .chevron{
      right: 13px;
      transform: rotate(-135deg);
    }
  }
  &.left{
    .chevron{
      left: 13px;
      transform: rotate(45deg);
    }
  }
}



/***************************
****************************
  SPECIFIC
****************************
***************************/

#mainNavigation{
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#intro_view{
  p{
    margin:30px 0;
  }
}
#current-activity{
  display: block;
  width:50px;
  height:50px;
  background-position: 50% 50%;
  background-size: 70%;
  background-repeat: no-repeat;
}


/***************************
****************************
  ANIMATIONS
****************************
***************************/

//inputHighlighter
@-webkit-keyframes inputHighlighter {
  from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
  from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
  from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}

//pulse

@keyframes pulse {
  0% {
    transform: scale(0.6);
    opacity: 0;
  }
  33% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.4);
    opacity: 0;
  }
}











.gradient-blue{
  background-image: linear-gradient(to bottom, #673ab7 0%,#2e86c9 29%,#34d0e5 75%, #36edde 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  background-attachment: fixed;
}

.gradient-red{
 background-image: linear-gradient(to bottom, #dc4720 0%,#d97925 29%,#e9a729 65%,#e9bc27 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  background-attachment: fixed;
}